@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    clear: both;
    font-size: 62.5%;
}
header{
    width: 100%;
    height: 4.5rem;
//  background-color: pink;
//  justify-content: space-between;
    img{
        width: 30%;
        padding: 0.8rem;
        margin-left: 0.1rem;
    }
    .mine{
        float: right;
//      padding: 0.9rem;
        margin-right: 13%;
//      padding-top: 0.9rem;
        i{
            color: #999999;
            font-size: 2.25rem;
            line-height: 4.5rem;
        }
        p{
            color: #999999;
            font-size: 0.11rem;
            margin-top: -1.2rem;
        }
    }
    .nav{
        float: right;
        margin-right: -18%;
        padding-right: 0.9rem;
//      margin-top: 0.6rem;
        i{
            color: #999999;
            font-size: 1.65rem;
            line-height: 4.5rem;
        }
        p{
            color: #999999;
            font-size: 0.11rem;
            margin-top: -1.2rem;
        }
    }
}
.swiper-slide{
    img{
        width: 100%;
    }
}
ul{
    list-style: none;
    li{
        list-style: none;
    }
}
.first-list{
    width: 100%;
    display: flex;
    margin-top: 1.8rem;
    li{
        text-align: center;
        flex: 1;
        img{
            width: 6rem;
        }
        p{
            font-size: 1.4rem;
            color: #333333;
        }
    }
}
.second-list{
    width: 100%;
    display: flex;
    margin-top: 2.6rem;
    margin-bottom: 2rem;
    li{
        text-align: center;
        flex: 1;
        img{
            width: 6rem;
        }
        p{
            font-size: 1.4rem;
            color: #333333;
        }
    }
}
.kong{
    width: 100%;
    height: 0.9rem;
    background-color: #F4F4F4;
}
.all-room{
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1.8rem;
    .green{
        width: 0.25rem;
        height: 2.1rem;
        background-color: #37C993;
        margin-left: 2.5%;
        margin-top: 1.6rem;
        float: left;
    }
    p{
        margin-top: 1.9rem;
        font-size: 1.8rem;
        color: #000000;
        float: left;
        margin-left: 0.5rem;
    }
    .shmi{
        margin-top: 2.5rem;
        font-size: 1.2rem;
        color: #999999;
        margin-left: 0.5rem;
    }
    img{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 1.6rem;
    }
//  .swiper-pagination{
//      margin-top: 1rem;
//  }
    .allroom-bottomfirst{
        margin-top: 1.8rem;
        margin-left: 2.5%;
        float: left;
        i{
            font-size: 1.8rem;
            color: #33C790;
        }
        span{
            font-size: 1.4rem;
            color: #000000;
        }
    }
    .allroom-bottomsecond{
        margin-top: 1.8rem;
        margin-left: 2rem;
        float: left;
        i{
            font-size: 1.8rem;
            color: #33C790;
        }
        span{
            font-size: 1.4rem;
            color: #000000;
        }
    }
    .allroom-bottomthird{
        margin-top: 1.8rem;
        margin-left: 2rem;
        float: left;
        i{
            font-size: 1.8rem;
            color: #33C790;
        }
        span{
            font-size: 1.4rem;
            color: #000000;
        }
    }
}
.yuyue{
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1.8rem;
    .green{
        width: 0.25rem;
        height: 2.1rem;
        background-color: #37C993;
        margin-left: 2.5%;
        margin-top: 1.5rem;
        float: left;
    }
    p{
        margin-top: 1.9rem;
        font-size: 1.8rem;
        color: #000000;
        float: left;
        margin-left: 0.5rem;
    }
    .shmi{
        margin-top: 2.5rem;
        font-size: 1.2rem;
        color: #999999;
        margin-left: 0.5rem;
    }
    input{
//      text-align: center;
        width: 29.3rem;
        height: 3.5rem;
        border: 1px solid #eaeaea;
        border-radius: 5px;
        color: #cacaca;
        font-size: 1.4rem;
        margin-top: 1.25rem;
        margin-left: 7.5%;
    }
    button{
        width: 29.3rem;
        height: 3.5rem;
        border-radius: 5px;
        text-align: center;
        margin-top: 1.25rem;
        margin-left: 7.5%;
        font-size: 1.8rem;
        color: white;
        border: 1px solid #FEB605;
        background-color: #FEB605;
    }
}
.person{
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1.8rem;
    .green{
        width: 0.25rem;
        height: 2.1rem;
        background-color: #37C993;
        margin-left: 2.5%;
        margin-top: 1.5rem;
        float: left;
    }
    .person-title{
        margin-top: 1.9rem;
        font-size: 1.8rem;
        color: #000000;
        float: left;
        margin-left: 0.5rem;
    }
    ul{
        width: 95%;
        margin-left: 2.5%;
        display: flex;
        li{
            margin-top: 2rem;
            flex: 1;
            img{
                width: 7rem;
            }
            p{
                margin-top: 1.25rem;
                font-size: 1.8rem;
                color: #000000;
                text-align: center;
            }
            div{
                width: 6rem;
                height: 1.6rem;
                text-align: center;
                color: white;
                font-size: 1.2rem;
                background-color: #39C893;
                margin-left: 0.5rem;
                border-radius: 5px;
                line-height: 1.6rem;
            }
        }
    }
    button{
        margin-top: 1.25rem;
        color: #75DAB5;
        background-color: white;
        border: none;
        height: 3.5rem;
        border: 1px solid #F4F4F4;
        font-size: 1.4rem;
        width: 47.5%;
        i{
            font-size: 1.4rem;
        }
    }
    .btnfirst{
        border-right: none;
    }
}
.image{
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1.8rem;
    .green{
        width: 0.25rem;
        height: 2.1rem;
        background-color: #37C993;
        margin-left: 2.5%;
        margin-top: 1.5rem;
        float: left;
    }
    .image-title{
        margin-top: 1.9rem;
        font-size: 1.8rem;
        color: #000000;
        float: left;
        margin-left: 0.5rem;
    }
    ul{
        width: 95%;
        margin-left: 2.5%;
        display: flex;
        li{
            margin-top: 0.4rem;
            flex: 1;
            img{
                width: 100%;
            }
        }
        .listli{
            margin-right: 0.4rem;
        }
        .listone{
            margin-top: 1.6rem;
        }
    }
    button{
        margin-top: 1.8rem;
        color: #75DAB5;
        background-color: white;
        border: none;
        height: 3.5rem;
        border: 1px solid #F4F4F4;
        font-size: 1.4rem;
        width: 47.5%;
        i{
            font-size: 1.4rem;
        }
    }
    .btnfirst{
        border-right: none;
        margin-left: 2.5%;
    }
}
.zhibo{
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1.8rem;
    .green{
        width: 0.25rem;
        height: 2.1rem;
        background-color: #37C993;
        margin-left: 2.5%;
        margin-top: 1.5rem;
        float: left;
    }
    .zhibo-title{
        margin-top: 1.9rem;
        font-size: 1.8rem;
        color: #000000;
        float: left;
        margin-left: 0.5rem;
    }
    img{
        margin-top: 1.6rem;
        margin-left: 2.5%;
        width: 95%;
    }
    span{
        font-size: 1.4rem;
        color: #000000;
        margin-left: 2.5%;
        float: left;
        margin-top: 1rem;
    }
    .nimu{
//      float: left;
        text-align: center;
        color: white;
        font-size: 1.4rem;
        background-color: #39C893;
        border-radius: 5px;
        width: 6rem;
        height: 1.4rem;
        margin-left: 28%;
        margin-top: 1rem;
    }
    button{
        margin-top: 1.8rem;
        color: #75DAB5;
        background-color: white;
        border: none;
        height: 3.5rem;
        border: 1px solid #F4F4F4;
        font-size: 1.4rem;
        width: 47.5%;
        i{
            font-size: 1.4rem;
        }
    }
    .btnfirst{
        border-right: none;
        margin-left: 2.5%;
    }
}
.gonglue{
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 1.8rem;
    .green{
        width: 0.25rem;
        height: 2.1rem;
        background-color: #37C993;
        margin-left: 2.5%;
        margin-top: 1.5rem;
        float: left;
    }
    .gonglue-title{
        margin-top: 1.9rem;
        font-size: 1.8rem;
        color: #000000;
        float: left;
        margin-left: 0.5rem;
    }
    ul{
        width: 95%;
        margin-left: 2.5%;
        li{
            margin-top: 1.6rem;
            width: 100%;
            float: left;
//          margin-bottom: 1.55rem;
            border-bottom: 1px solid #F4F4F4;
            img{
                width: 9.5rem;
                height: 7.25rem;
                float: left;
            }
            span{
                float: left;
                margin-left: 1.1rem;
                color: #000000;
                font-size: 1.8rem;
                p{
                    margin-top: 1.5rem;
                }
            }
            div{
                margin-top: 0.1rem;
                font-size: 1.4rem;
                color: #999999;
                margin-left: 10.6rem;
                margin-bottom: 1.55rem;
            }
            .div{
                margin-top: 6rem;
            }
        }
        .lilast{
            border: none;
        }
    }
    button{
        float: left;
//      margin-top: 1.8rem;
        color: #75DAB5;
        background-color: white;
        border: none;
        height: 3.5rem;
        border: 1px solid #F4F4F4;
        font-size: 1.4rem;
        width: 47.5%;
        i{
            font-size: 1.4rem;
        }
    }
    .btnfirst{
        float: left;
        border-right: none;
        margin-left: 2.5%;
    }
}
.duanluo{
    text-indent: 2rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.8rem;
    font-size: 1.4rem;
    color: #333333;
    margin-bottom: 1.8rem;
}
.backtop{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: fixed;
    bottom: 20%;
    right: 5%;
    float: right;
    background-color: white;
//  margin-right: 2.5%;
    i{
        font-size: 6.5rem;
        color: #CCCCCC;
    }
}
.fuwu{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    .fuwu-title{
        margin-top: 1.8rem;
        text-align: center;
        font-size: 1.4rem;
        color: #333333;
        i{
            font-size: 1.6rem;
            color: #75DAB5;
        }
    }
    ul{
        width: 90%;
        margin-left: 10%;
        display: flex;
        li{
            margin-top: 1.8rem;
            flex: 1;
            font-size: 1.4rem;
            color: #333333;
        }
        .firstli{
            color: #75DAB5;
        }
    }
    .biao{
        margin-top: 2rem;
        margin-left: 30%;
        margin-bottom: 1.8rem;
        position: absolute;
    }
}
.zhezhao{
    float: left;
    width: 100%;
    height: 5.3rem;
    background-color: rgba(0,0,0,0.8);
    .imgone{
        width: 2rem;
        height: 2rem;
        float: left;
    }
    .imgtwo{
        width: 20rem;
        margin-top: 0.5rem;
        margin-left: 2rem;
    }
    .btn{
        float: right;
        line-height: 5.3rem;
        margin-right: 2%;
        button{
            width: 8.75rem;
            height: 2.5rem;
            background-color: #FEB605;
            font-size: 1.2rem;
            color: white;
            border: none;
            border-radius: 25px;
            text-align: center;
        }
    }
}
footer{
    img{
        width: 100%;
    }
}
